@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Lato:ital,wght@0,300;1,100;1,300&family=Poppins:ital,wght@1,300&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Agbalumo'; /* Use your preferred font family */
  }
  
  .container {
    text-align: center;
  }
  
  .box {
    border: 2px solid pink;
    border-radius: 30px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .love-text {
    font-family: 'Agbalumo';
    color: darkslateblue;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: type 4s steps(10, end) infinite;
  }
  
  @keyframes type {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  .next-button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: pink;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
  .next-button:hover {
    background-color: #ff66b2;
  }
  
  a {
    text-decoration: none;
    color: white;
  }  